backgrond {
    color: white;
}

h1 {
    font-family: 'Verdana';
    color: #818589;
    font-size: 72 px;
}

h2 {
    font-family: 'Helvetica';
    color: #E62500;
    font-size: 52px;
}

h4 {
    font-family: 'Helvetica';
    color: #818589;
    font-size: 20px;
}

body {
    font-family:'Gill Sans';
    margin-left: 20px;
    color: black;
    font-size: 20px;
}

nav {
    font-family: 'Gill Sans';
    background: lightgray;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.homepageimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.homepagegallery{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

#gallery{
    text-align: center;
}
